################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/car_rental_angular/.vs/slnx.sqlite
/car_rental_angular/.vs/VSWorkspaceState.json
/CarRental/src/main/resources/application.properties
